<div class="row" ng-init="getPlans()">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <h2>Informe seus dados</h2>
                <br>
                <form ng-submit="finishSubscription(model.customerInfo)">
                    <div class="form-group">
                        <label>Nome Completo</label>
                        <input required type="text" class="form-control" placeholder="João da Silva" ng-model="model.customerInfo.name">
                    </div>
                    <div class="form-group">
                        <label>E-mail</label>
                        <input required type="email" class="form-control" placeholder="joao.silva@exemplo.com" ng-model="model.customerInfo.email">
                    </div>
                    <div class="form-group dropdown">
                        <label>Data de Nascimento</label>
                        <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
                            <div class="input-group">
                                <input disabled type="text" placeholder="01/01/1990" class="form-control vjd-datepicker" data-ng-model="model.customerInfo.birthDate">
                                
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="model.customerInfo.birthDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', modelType: 'DD/MM/YYYY', startView: 'year', minView: 'day' }"/>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label>CPF</label>
                        <input required type="text" class="form-control" ui-mask="999.999.999-99" ng-model="model.customerInfo.cpf">
                    </div>
                    <div class="form-group">
                        <label>Telefone</label>
                        <input required type="tel" ui-mask="(99) 9999-99999" class="form-control" ng-model="model.customerInfo.phoneNumber">
                    </div>
                    <br>
                    <button id="CheckoutButton" type="submit" class="btn btn-primary vjd-btn-purple btn-block">Checkout</button>
                </form>
            </div>
        </div>
    </div>
</div>