<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <h2>Selecione o plano</h2>
        <br>
        <div class="row vjd-thumbnail-row">
            <div class="col-md-4 col-sm-12 vjd-plan-card" ng-repeat="p in model.plans">
                <plan-thumbnail plan="p" select-plan="selectPlan(p)"></plan-thumbnail>
            </div>
        </div>
    </div>
</div>