<div class="row" ng-init="getPlatforms()">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <h2>Selecione um serviço</h2>
        <br>
        <div class="row">
            <div class="col-md-4 col-sm-12 vjd-platform-card" ng-repeat="p in model.platforms">
                <platform-thumbnail platform="p" platform-names="model.PLATFORM_NAMES" select-platform="selectPlatform(p)"></platform-thumbnail>
            </div>
        </div>
    </div>
</div>