
<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <center>
            <br><br>
            <div class="progress">
                <div class="progress-bar vjd-progress-bar-purple" role="progressbar" aria-valuenow="{{ model.currentStage.percentage }}"
                aria-valuemin="0" aria-valuemax="100" ng-style="model.currentStage.style">
                    {{ model.currentStage.step }}
                </div>
            </div>
            <div id="SuccessAlert" class="alert alert-success" role="alert">Solitação finalizada com sucesso!</div>
        </center>
    </div>
</div>



<ui-view></ui-view>

