<div class="thumbnail vjd-thumbnail">
    <center>
        <div class="vjd-thumbnail-header">
            <h3 class="">{{ plan.franchise }}</h3>
        </div>

        <div class="caption">
            <h3>{{ plan.price | float | currency:'R$':2}}</h3>
            <p>ao mês</p>
            <div ng-if="plan.device">
                <h4>{{ plan.device.name }}</h4>
                
                <h4 ng-if="plan.device.installmentNumber > 1">{{ plan.device.installmentNumber }}x de {{ plan.device.installmentPrice | float | currency:'R$':2 }}</h4>
                <p ng-if="plan.device.installmentNumber > 1">ou {{ plan.device.price | float | currency:'R$':2 }} à vista</p>

                <h4 ng-if="plan.device.installmentNumber <= 1">{{ plan.device.price | float | currency:'R$':2 }}</h4>
                <p ng-if="plan.device.installmentNumber <= 1">à vista</p>
            </div>
        </div>
        <p>
            <button href="#" class="btn btn-primary vjd-btn-purple" role="button" ng-click="selectPlan(plan)">Selecionar</button>
        </p>
    </center>
</div>