<div class="thumbnail vjd-thumbnail">
    <center>
        <i class="fa fa-tablet" ng-if="platform.name == platformNames.tablet"></i>
        <i class="fa fa-laptop" ng-if="platform.name == platformNames.computer"></i>
        <i class="fa fa-wifi" ng-if="platform.name == platformNames.wifi"></i>
        <div class="caption">
            <h3 class="vjd-thumbnail-h3">{{ platform.name }}</h3>
            <p>{{ platform.description }}</p>
        </div>
        <p><button href="#" class="btn btn-primary vjd-btn-purple" role="button" ng-click="selectPlatform(platform)">Selecionar</button></p>
    </center>
</div>