html, body {
  height: 100%;
  width: 100%; }

.form-control[disabled], .form-control[read-only] {
  cursor: unset;
  background-color: white; }

.form-control:focus {
  border-color: unset;
  outline: none;
  box-shadow: unset; }

.vjd-platform-card .vjd-thumbnail .vjd-thumbnail-h3 {
  margin-top: 0px; }

.vjd-platform-card .vjd-thumbnail center .caption {
  height: 120px; }

.vjd-platform-card .vjd-thumbnail center > i {
  font-size: 150px; }

.vjd-plan-card .vjd-thumbnail center .vjd-thumbnail-header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  width: calc(100% - 30px);
  background: #3B3B43;
  margin-left: 15px;
  border-radius: 4px 4px 0px 0px; }
  .vjd-plan-card .vjd-thumbnail center .vjd-thumbnail-header h3 {
    color: white;
    margin: 0px;
    line-height: 50px; }

.vjd-plan-card .vjd-thumbnail center .caption > h3 {
  margin-top: 50px; }

.vjd-plan-card .vjd-thumbnail center .caption > p {
  margin-top: -10px; }

.vjd-progress-bar-purple {
  background-color: #392C70; }

.vjd-btn:active, .vjd-btn-purple:active, .vjd-btn:focus, .vjd-btn-purple:focus, .vjd-btn:hover, .vjd-btn-purple:hover, .vjd-btn:active:focus, .vjd-btn-purple:active:focus {
  outline: none; }

.vjd-btn-purple {
  background-color: #392C70;
  border-color: #140f27; }
  .vjd-btn-purple:active, .vjd-btn-purple:focus, .vjd-btn-purple:hover, .vjd-btn-purple:active:focus, .vjd-btn-purple:active:hover {
    background-color: #2c2256; }

.vjd-panel-purple {
  border-color: lightgray; }
  .vjd-panel-purple > .panel-heading {
    background-color: #3B3B43;
    border-color: #3B3B43; }
