$signature: "vjd-";
$mainPurple: #392C70;
$mainBlack: #3B3B43;

html, body {
    height: 100%;
    width: 100%;
}

.form-control {
    &[disabled], &[read-only] {
        cursor: unset;    
        background-color: white;
    }
    &:focus {
        border-color: unset;
        outline: none;
        box-shadow: unset;
    }
}

.#{$signature}platform-card {
    .#{$signature}thumbnail {
        .#{$signature}thumbnail-h3 {
            margin-top: 0px;
        }
        center {
            .caption {
                height: 120px;
            }            
            & > i {
            font-size: 150px;
            }
        }
    }
}

.#{$signature}plan-card {
    .#{$signature}thumbnail {
        center {
            .#{$signature}thumbnail-header {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 50px;
                width: calc(100% - 30px);
                background: $mainBlack;
                margin-left: 15px;
                border-radius: 4px 4px 0px 0px;
                h3 {
                    color: white;
                    margin: 0px;
                    line-height: 50px;
                }
                
            }
            .caption {
                & > h3 {
                    margin-top: 50px;
                }
                & > p {
                    margin-top: -10px;
                }
            } 
        }
    }
}

.#{$signature}progress-bar-purple {
    background-color: $mainPurple;
}

.#{$signature}btn {
    &:active, &:focus, &:hover, &:active:focus {
       outline: none;    
    }
}
.#{$signature}btn-purple {
    @extend .#{$signature}btn;
    background-color: $mainPurple;
    border-color: darken($mainPurple, 20%);
    &:active, &:focus, &:hover, &:active:focus, &:active:hover {
        background-color: darken($mainPurple, 7%);
    }
}

.#{$signature}panel-purple {
    // border-color: #e5e5e5;
    border-color: lightgray;
    & > .panel-heading {
        background-color: $mainBlack;
        border-color: $mainBlack;
    }
}