<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title"><strong>Dados da Solicitação</strong></h4>
</div>
<div class="modal-body">
    <div class="panel panel-primary vjd-panel-purple">
        <div class="panel-heading">Informações do plano</div>
        <div class="panel-body">
            <p><strong>Serviço:</strong> {{ model.platform.name }}</p>
            <p><strong>Franquia:</strong> {{ model.plan.franchise }}</p>
            <p><strong>Mensalidade:</strong> {{ model.plan.price | float | currency:'R$':2 }}</p>
        </div>
    </div>

    <div class="panel panel-primary vjd-panel-purple" ng-if="model.plan.device">
        <div class="panel-heading">Aparelho</div>
        <div class="panel-body">
            <p><strong>Nome:</strong> {{ model.plan.device.name }}</p>

            <p ng-if="model.plan.device.installmentNumber > 1"><strong>Parcelas:</strong> 5x de {{ model.plan.device.installmentPrice | float | currency:'R$':2 }}</p>
            <p ng-if="model.plan.device.installmentNumber > 1"><strong>Valor à vista:</strong> {{ model.plan.device.price | float | currency:'R$':2}}</p>

            <p ng-if="model.plan.device.installmentNumber <= 1"><strong>Valor:</strong> {{ model.plan.device.price | float | currency:'R$':2}}</p>
        </div>
    </div>

    <div class="panel panel-primary vjd-panel-purple">
        <div class="panel-heading">Suas informações</div>
        <div class="panel-body">
            <p><strong>Nome:</strong> {{ model.customerInfo.name }}</p> 
            <p><strong>E-mail:</strong> {{ model.customerInfo.email }}</p>
            <p><strong>Nascimento:</strong> {{ model.customerInfo.birthDate }}</p>
            <p><strong>CPF:</strong> {{ model.customerInfo.cpf }}</p>
            <p><strong>Telefone:</strong> {{ model.customerInfo.phoneNumber }}</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default vjd-btn" data-dismiss="modal" ng-click="cancel()">Cancelar</button>
    <button type="button" class="btn btn-primary vjd-btn-purple" ng-click="subscribe()">Confirmar</button>
</div>